body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: purple;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #d60f0f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
*
{
    background-color: black;
    color:whitesmoke;
}
#a
{
    background-color: whitesmoke;
}
